/* #content_right{
  display: none !important;
}

#content_left>div[style='display:block !important;visibility:visible !important'] {
  height: 0;
  overflow: hidden;
}
#content_left>div[class='result c-container'] {
  height: 0;
  overflow: hidden;
} */