/* baidu */
#content_right{
  display: none !important;
}

#content_left>div[style='display:block !important;visibility:visible !important'] {
  height: 0;
  overflow: hidden;
}
#content_left>div[class='result c-container'] {
  height: 0;
  overflow: hidden;
}

/* segmentfault */
/* .article-content #first-ad, .article-content #second-ad{
  display: none !important;
} */

/* csdn */
#recommend-right>#recommendAdBox{
  display: none;
}

/* 脚本之家 */
#header>div[class="logom fl"],#header>div[class="logor fr"] {
  display: none;
}
#wrapper>#container>div[class="pt10 clearfix"]{
  display: none;
}
#container .main-right>#sidebar-right>div[class="r300 clearfix"]{
  display: none;
}
#container .main-right div[class="r300 clearfix mt10"]{
  display: none;
}
#container .main-right div[class="mt10 rFixedBox"]{
  display: none;
}
#wrapper>#container #article div[class="lbd clearfix"]{
  display: none;
}

/* 书签 */
body>iframe#bookmarks-bs{
  position: fixed;
  left: 0;
  top: 0;
  width: 0;
  height: 100vh;
  z-index: 2000;
  border: 0;
  background-color: rgba(0, 0, 0, 0.6) !important;
  transition: width 0.2s ease;
}